<div *ngIf="auth.user$ | async; then authenticated else guest">
    <!-- template will replace this div -->
</div>

<!-- User NOT logged in -->
<ng-template #guest>
    <button mat-button (click)="auth.googleSignin()">
        Login
    </button>
</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
    <button 
        *ngIf="auth.user$ | async as user"
        class="user-profile-menu-toggle"
        mat-button
        [matMenuTriggerFor]="menu"
    >
        <img alt="User Avatar" class="user-profile-avatar" [src]="user.photoURL">
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="auth.signOut()">Logout</button>
    </mat-menu>
</ng-template>
